---

---

<div class="social-container">

    <div class="icon-container">  
        <a href="viber://chat/?number=%2B447700662425" class="icon">
            <!-- viber icon -->
            <svg height="100%" width="100%" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
            viewBox="0 0 512 512" xml:space="preserve">
       <circle style="fill:#6F3FAA;" cx="256" cy="256" r="256"/>
       <path style="fill:#512D84;" d="M367.061,140.443c-62.312-15.05-124.735-32.654-188.637-10.288
           c-41.374,15.515-41.374,60.337-39.65,98.263c0,10.343-12.067,24.135-6.896,36.202c10.343,34.478,18.963,68.956,55.165,86.195
           c5.172,3.448,0,10.343,3.448,15.515c-1.724,0-5.172,1.724-5.172,3.448c0,8.263,3.708,20.902,1.245,29.05L296.57,508.788
           c113.09-18.01,201.478-110.068,213.914-224.921L367.061,140.443z"/>
       <g>
           <path style="fill:#FFFFFF;" d="M391.427,179.924l-0.084-0.338c-6.84-27.653-37.678-57.325-65.998-63.498l-0.319-0.066
               c-45.806-8.738-92.251-8.738-138.047,0l-0.329,0.066c-28.31,6.173-59.149,35.847-65.998,63.498l-0.076,0.338
               c-8.456,38.617-8.456,77.781,0,116.398l0.076,0.338c6.558,26.472,35.099,54.782,62.362,62.567v30.868
               c0,11.173,13.615,16.66,21.357,8.597l31.275-32.509c6.784,0.379,13.571,0.591,20.356,0.591c23.057,0,46.125-2.181,69.023-6.549
               l0.319-0.066c28.32-6.173,59.158-35.847,65.998-63.498l0.084-0.338C399.882,257.705,399.882,218.543,391.427,179.924z
                M366.676,290.723c-4.567,18.041-27.981,40.469-46.585,44.613c-24.355,4.632-48.904,6.611-73.428,5.932
               c-0.488-0.014-0.957,0.176-1.296,0.526c-3.481,3.572-22.835,23.442-22.835,23.442l-24.288,24.928
               c-1.776,1.852-4.896,0.591-4.896-1.964v-51.136c0-0.845-0.603-1.562-1.433-1.726c-0.005-0.002-0.009-0.002-0.014-0.003
               c-18.604-4.144-42.01-26.572-46.585-44.613c-7.611-34.906-7.611-70.292,0-105.198c4.575-18.041,27.981-40.469,46.585-44.613
               c42.536-8.09,85.664-8.09,128.191,0c18.613,4.144,42.018,26.572,46.585,44.613C374.296,220.431,374.296,255.817,366.676,290.723z"
               />
           <path style="fill:#FFFFFF;" d="M296.47,314.327c-2.86-0.869-5.585-1.452-8.118-2.501c-26.231-10.883-50.371-24.923-69.492-46.444
               c-10.874-12.238-19.385-26.055-26.579-40.677c-3.412-6.934-6.287-14.139-9.218-21.299c-2.672-6.528,1.264-13.272,5.408-18.192
               c3.889-4.617,8.894-8.149,14.314-10.754c4.23-2.032,8.402-0.86,11.492,2.725c6.678,7.752,12.814,15.9,17.78,24.886
               c3.055,5.527,2.217,12.283-3.32,16.044c-1.346,0.914-2.572,1.988-3.825,3.02c-1.1,0.905-2.134,1.819-2.888,3.044
               c-1.377,2.241-1.443,4.886-0.557,7.323c6.827,18.761,18.334,33.351,37.219,41.21c3.022,1.257,6.056,2.72,9.538,2.315
               c5.83-0.681,7.718-7.077,11.804-10.418c3.993-3.265,9.097-3.308,13.398-0.586c4.303,2.724,8.473,5.646,12.619,8.601
               c4.07,2.9,8.121,5.735,11.874,9.042c3.61,3.179,4.853,7.349,2.82,11.662c-3.72,7.901-9.135,14.472-16.944,18.668
               C301.59,313.178,298.956,313.561,296.47,314.327C293.61,313.458,298.956,313.561,296.47,314.327z"/>
           <path style="fill:#FFFFFF;" d="M256.071,165.426c34.309,0.962,62.49,23.731,68.529,57.651c1.029,5.78,1.395,11.688,1.853,17.555
               c0.193,2.467-1.205,4.811-3.867,4.844c-2.75,0.033-3.987-2.269-4.167-4.734c-0.353-4.882-0.598-9.787-1.271-14.627
               c-3.551-25.559-23.931-46.704-49.371-51.241c-3.829-0.683-7.745-0.862-11.624-1.269c-2.451-0.257-5.661-0.405-6.204-3.453
               c-0.455-2.555,1.701-4.589,4.134-4.72C254.742,165.393,255.407,165.424,256.071,165.426
               C290.382,166.388,255.407,165.424,256.071,165.426z"/>
           <path style="fill:#FFFFFF;" d="M308.212,233.019c-0.057,0.429-0.086,1.436-0.338,2.384c-0.91,3.444-6.134,3.875-7.335,0.4
               c-0.357-1.031-0.41-2.205-0.412-3.315c-0.012-7.266-1.591-14.526-5.256-20.849c-3.767-6.499-9.523-11.96-16.272-15.267
               c-4.082-1.998-8.495-3.241-12.969-3.98c-1.955-0.324-3.931-0.519-5.896-0.793c-2.381-0.331-3.653-1.848-3.539-4.194
               c0.105-2.198,1.712-3.781,4.108-3.644c7.873,0.446,15.479,2.15,22.48,5.856c14.234,7.539,22.366,19.437,24.74,35.326
               c0.107,0.721,0.279,1.433,0.334,2.155C307.991,228.88,308.076,230.665,308.212,233.019
               C308.155,233.446,308.076,230.665,308.212,233.019z"/>
           <path style="fill:#FFFFFF;" d="M286.872,232.188c-2.87,0.052-4.406-1.538-4.703-4.168c-0.205-1.834-0.369-3.694-0.807-5.48
               c-0.862-3.517-2.731-6.775-5.689-8.93c-1.396-1.017-2.979-1.758-4.636-2.238c-2.105-0.609-4.293-0.441-6.392-0.955
               c-2.281-0.559-3.543-2.407-3.184-4.546c0.326-1.948,2.22-3.468,4.349-3.313c13.302,0.96,22.809,7.837,24.166,23.497
               c0.097,1.105,0.209,2.272-0.036,3.331C289.518,231.193,288.178,232.1,286.872,232.188
               C284.001,232.239,288.178,232.1,286.872,232.188z"/>
       </g>
       <path style="fill:#D1D1D1;" d="M391.427,179.924l-0.084-0.338c-3.834-15.501-15.212-31.635-29.458-43.911l-19.259,17.068
           c11.452,9.125,21.264,21.766,24.052,32.78c7.62,34.907,7.62,70.292,0,105.2c-4.567,18.041-27.982,40.469-46.585,44.613
           c-24.355,4.632-48.904,6.611-73.428,5.932c-0.488-0.014-0.957,0.176-1.296,0.526c-3.481,3.572-22.835,23.442-22.835,23.442
           l-24.288,24.928c-1.776,1.852-4.896,0.593-4.896-1.964v-51.136c0-0.845-0.603-1.562-1.433-1.726c-0.005,0-0.009-0.002-0.014-0.002
           c-10.573-2.355-22.692-10.618-32.028-20.621l-19.03,16.863c11.885,12.929,27.214,23.381,42.168,27.651v30.868
           c0,11.173,13.615,16.66,21.357,8.597l31.275-32.509c6.784,0.379,13.569,0.591,20.356,0.591c23.057,0,46.125-2.181,69.023-6.549
           l0.319-0.065c28.32-6.173,59.158-35.845,65.998-63.498l0.084-0.338C399.882,257.705,399.882,218.543,391.427,179.924z"/>
       <path style="fill:#FFFFFF;" d="M296.47,314.327C298.956,313.561,293.61,313.458,296.47,314.327L296.47,314.327z"/>
       <path style="fill:#D1D1D1;" d="M317.921,281.664c-3.753-3.305-7.806-6.142-11.874-9.042c-4.146-2.955-8.316-5.877-12.619-8.601
           c-4.301-2.722-9.404-2.679-13.398,0.586c-4.086,3.341-5.973,9.737-11.804,10.418c-3.481,0.405-6.516-1.059-9.538-2.315
           c-11.619-4.834-20.435-12.226-27.098-21.559l-14.16,12.55c0.481,0.557,0.94,1.129,1.429,1.679
           c19.122,21.521,43.263,35.561,69.492,46.444c2.531,1.05,5.258,1.634,8.118,2.501c-2.86-0.869,2.488-0.765,0,0
           c2.488-0.765,5.12-1.15,7.327-2.332c7.811-4.196,13.224-10.768,16.944-18.668C322.774,289.013,321.531,284.843,317.921,281.664z"/>
       <g>
           <path style="fill:#FFFFFF;" d="M256.159,165.431c-0.029,0-0.057-0.003-0.086-0.003
               C256.045,165.426,256.081,165.428,256.159,165.431z"/>
           <path style="fill:#FFFFFF;" d="M256.072,165.426c0.029,0,0.057,0.003,0.086,0.003C258.062,165.497,289.03,166.35,256.072,165.426z"
               />
       </g>
       <g>
           <path style="fill:#D1D1D1;" d="M305.285,185.837l-6.037,5.351c9.487,9.23,16.029,21.463,17.899,34.925
               c0.672,4.842,0.919,9.745,1.272,14.627c0.179,2.467,1.415,4.768,4.167,4.736c2.663-0.033,4.06-2.376,3.867-4.844
               c-0.459-5.866-0.824-11.776-1.853-17.555C321.957,208.229,315.07,195.518,305.285,185.837z"/>
           <path style="fill:#D1D1D1;" d="M307.521,224.939c-1.729-11.578-6.532-21.026-14.51-28.224l-6.02,5.335
               c3.113,2.763,5.806,6.008,7.88,9.587c3.665,6.323,5.244,13.583,5.256,20.849c0.002,1.11,0.055,2.284,0.412,3.317
               c1.203,3.477,6.425,3.046,7.335-0.4c0.252-0.95,0.281-1.957,0.338-2.384c-0.057,0.429-0.138-2.353,0,0
               c-0.138-2.353-0.222-4.139-0.357-5.923C307.802,226.371,307.629,225.659,307.521,224.939z"/>
       </g>
       <g>
           <path style="fill:#FFFFFF;" d="M308.212,233.019C308.076,230.665,308.155,233.446,308.212,233.019L308.212,233.019z"/>
           <path style="fill:#FFFFFF;" d="M286.872,232.188c0.045-0.003,0.088-0.026,0.131-0.031c-0.121,0-0.307,0.003-0.498,0.01
               C286.629,232.17,286.742,232.189,286.872,232.188z"/>
           <path style="fill:#FFFFFF;" d="M286.872,232.188c-0.129,0.002-0.243-0.017-0.367-0.021
               C285.884,232.184,285.243,232.217,286.872,232.188z"/>
           <path style="fill:#FFFFFF;" d="M287.003,232.157c-0.045,0.005-0.088,0.028-0.131,0.031
               C287.208,232.165,287.179,232.157,287.003,232.157z"/>
       </g>
       <path style="fill:#D1D1D1;" d="M280.814,207.525l-6.128,5.432c0.338,0.205,0.669,0.419,0.99,0.652
           c2.958,2.155,4.827,5.413,5.689,8.93c0.438,1.786,0.6,3.644,0.807,5.48c0.283,2.513,1.71,4.058,4.336,4.148
           c0.191-0.005,0.379-0.009,0.498-0.01c1.264-0.14,2.531-1.026,2.936-2.774c0.245-1.057,0.133-2.226,0.036-3.331
           C289.216,217.297,285.906,211.29,280.814,207.525z"/>
            </svg>
        </a>
        <a href="https://wa.me/213770662425" class="icon">
            <!-- whatsapp icon -->

            <svg height="100%" width="100%" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
            viewBox="0 0 512 512" xml:space="preserve">
       <circle style="fill:#75B73B;" cx="256" cy="256" r="256"/>
       <path style="fill:#52891D;" d="M360.241,151.826c-14.843-3.712-36.671-16.532-50.8-21.671
           c-55.165-17.239-129.293-3.448-149.98,60.337c-1.724,1.724-5.172,1.724-6.896,1.724c-41.374,48.269-13.791,106.882-17.239,160.323
           c-1.177,18.839-11.083,35.497-23.831,49.588l107.282,107.17C230.931,511.067,243.355,512,256,512
           c126.436,0,231.452-91.665,252.247-212.161L360.241,151.826z"/>
       <g>
           <path style="fill:#FFFFFF;" d="M248.837,108.447c-78.029,3.712-139.604,68.696-139.369,146.811
               c0.072,23.792,5.816,46.249,15.95,66.095l-15.557,75.514c-0.841,4.086,2.843,7.663,6.901,6.701l73.995-17.53
               c19.011,9.471,40.364,14.939,62.962,15.284c79.753,1.219,146.251-62.105,148.74-141.829
               C405.121,174.035,334.591,104.362,248.837,108.447L248.837,108.447z M337.13,335.936c-21.669,21.669-50.483,33.604-81.13,33.604
               c-17.944,0-35.126-4.027-51.066-11.966l-10.302-5.134l-45.37,10.747l9.549-46.356l-5.075-9.943
               c-8.276-16.206-12.472-33.728-12.472-52.084c0-30.648,11.935-59.459,33.604-81.13c21.476-21.478,50.759-33.604,81.134-33.604
               c30.644,0,59.458,11.935,81.127,33.604c21.669,21.669,33.604,50.483,33.604,81.127C370.735,285.177,358.607,314.459,337.13,335.936
               L337.13,335.936z"/>
           <path style="fill:#FFFFFF;" d="M327.115,286.582l-28.384-8.149c-3.729-1.069-7.749-0.01-10.468,2.76l-6.942,7.07
               c-2.926,2.984-7.366,3.941-11.24,2.374c-13.427-5.434-41.672-30.548-48.881-43.106c-2.084-3.624-1.739-8.152,0.817-11.462
               l6.058-7.839c2.374-3.07,2.874-7.197,1.305-10.747l-11.941-27.008c-2.86-6.468-11.126-8.352-16.527-3.784
               c-7.921,6.701-17.32,16.88-18.461,28.16c-2.015,19.887,6.515,44.954,38.762,75.055c37.257,34.778,67.094,39.369,86.523,34.664
               c11.019-2.667,19.825-13.365,25.379-22.126C336.906,296.467,333.91,288.535,327.115,286.582L327.115,286.582z"/>
       </g>
       <g>
           <path style="fill:#D1D1D1;" d="M356.004,147.708l-22.223,22.778c1.131,1.045,2.257,2.096,3.351,3.191
               c21.67,21.669,33.604,50.483,33.604,81.127c0,30.375-12.128,59.656-33.604,81.134c-21.669,21.669-50.483,33.604-81.13,33.604
               c-17.944,0-35.125-4.027-51.066-11.966l-10.302-5.134l-45.37,10.747l0.938-4.553l-40.174,41.172
               c0.886,2.663,3.705,4.475,6.734,3.758l73.995-17.53c19.011,9.471,40.364,14.939,62.962,15.284
               c79.753,1.219,146.253-62.105,148.74-141.829C403.834,215.357,385.686,175.435,356.004,147.708z"/>
           <path style="fill:#D1D1D1;" d="M327.115,286.582l-28.384-8.149c-3.729-1.069-7.749-0.01-10.468,2.76l-6.942,7.07
               c-2.926,2.984-7.366,3.941-11.24,2.374c-7.756-3.139-20.451-12.845-31.185-22.904l-19.732,20.225
               c0.677,0.648,1.352,1.295,2.05,1.948c37.257,34.778,67.094,39.369,86.523,34.664c11.019-2.667,19.825-13.365,25.379-22.126
               C336.906,296.467,333.91,288.535,327.115,286.582z"/>
       </g>
            </svg>
        </a>
        <a href="#" class="icon">
            <!-- telegram icon   -->
            <svg height="100%" width="100%" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
            viewBox="0 0 512 512" xml:space="preserve">
       <circle style="fill:#7AA5DA;" cx="256" cy="256" r="256"/>
       <path style="fill:#5786B5;" d="M511.924,250.077L398.283,136.625l-185.108,225.63l133.284,133.284
           C443.197,458.988,512,365.535,512,256C512,254.019,511.969,252.045,511.924,250.077z"/>
       <path style="fill:#FFFFFF;" d="M383.717,133.52c10.206-3.982,20.756,4.948,18.515,15.67l-45.77,218.781
           c-2.138,10.257-14.188,14.877-22.635,8.671l-69.094-50.717l-35.219,35.961c-6.189,6.31-16.86,3.741-19.515-4.672l-25.41-80.662
           l-68.112-20.118c-8.947-2.638-9.464-15.084-0.793-18.48L383.717,133.52z M350.118,182.065c2.982-2.638-0.483-7.292-3.862-5.189
           l-147.015,91.177c-2.586,1.603-3.775,4.758-2.862,7.671l20.049,88.04c0.397,1.345,2.327,1.155,2.5-0.241l4.482-67.094
           c0.172-1.655,0.965-3.172,2.207-4.275L350.118,182.065z"/>
       <path style="fill:#9EC2E5;" d="M346.257,176.876c3.379-2.103,6.844,2.551,3.862,5.189l-124.5,110.089
           c-1.241,1.103-2.034,2.62-2.207,4.275l-4.482,67.094c-0.172,1.396-2.103,1.586-2.5,0.241l-20.049-88.04
           c-0.914-2.913,0.276-6.068,2.862-7.671L346.257,176.876z"/>
       <path style="fill:#FFFFFF;" d="M217.154,364.678c-3.241-1.155-5.982-3.741-7.154-7.465l-25.41-80.662l-68.112-20.118
           c-8.947-2.638-9.464-15.084-0.793-18.48L383.717,133.52c6.585-2.569,13.326,0.241,16.653,5.448
           c-0.621-0.948-1.362-1.827-2.189-2.603L216.343,284.81v6.499l-1-0.724l1,40.926v32.823c0.259,0.121,0.534,0.224,0.81,0.31V364.678
           L217.154,364.678z"/>
       <g>
           <path style="fill:#D1D1D1;" d="M402.525,145.518c0.052,1.172-0.034,2.413-0.293,3.672l-45.77,218.781
               c-2.138,10.257-14.188,14.877-22.635,8.671l-69.094-50.717l-48.39-34.616v-6.499l181.838-148.446
               c0.827,0.776,1.569,1.655,2.189,2.603c0.121,0.207,0.241,0.396,0.362,0.586c0.103,0.207,0.224,0.414,0.328,0.603
               c0.103,0.207,0.207,0.414,0.293,0.621c0.103,0.224,0.19,0.431,0.276,0.655c0.069,0.19,0.155,0.396,0.224,0.621
               c0.224,0.672,0.396,1.362,0.517,2.086C402.439,144.587,402.491,145.036,402.525,145.518z"/>
           <path style="fill:#D1D1D1;" d="M264.733,325.925l-35.219,35.961c-0.293,0.293-0.603,0.586-0.914,0.845
               c-0.31,0.259-0.621,0.483-0.948,0.707c-0.017,0.017-0.017,0.017-0.017,0.017c-0.655,0.431-1.327,0.793-2.034,1.086
               c-0.362,0.138-0.707,0.276-1.069,0.362c-1.5,0.448-3.034,0.569-4.551,0.414c-0.396-0.034-0.793-0.103-1.172-0.172
               c-0.052,0-0.103-0.017-0.155-0.034c-0.379-0.103-0.759-0.207-1.138-0.328c-0.121-0.034-0.241-0.069-0.362-0.138l-0.81-33.133
               v-40.202L264.733,325.925z"/>
       </g>
       <g>
           <path style="fill:#DADDE0;" d="M228.6,362.73c-0.31,0.259-0.621,0.5-0.948,0.724v-0.017
               C227.98,363.213,228.29,362.989,228.6,362.73z"/>
           <path style="fill:#DADDE0;" d="M227.652,363.437v0.017c0,0,0-0.017-0.017,0C227.635,363.454,227.635,363.454,227.652,363.437z"/>
           <path style="fill:#DADDE0;" d="M225.601,364.541c0.707-0.293,1.379-0.655,2.034-1.086
               C226.98,363.885,226.29,364.247,225.601,364.541z"/>
           <path style="fill:#DADDE0;" d="M219.981,365.316c1.517,0.155,3.051,0.034,4.551-0.414c-1.086,0.345-2.207,0.5-3.327,0.5
               c-0.345,0-0.69-0.017-1.017-0.052C220.119,365.351,220.05,365.351,219.981,365.316z"/>
       </g>
       <g>
           <path style="fill:#FFFFFF;" d="M221.205,365.402c-0.345,0-0.69-0.017-1.017-0.052C220.515,365.385,220.86,365.402,221.205,365.402z
               "/>
           <path style="fill:#FFFFFF;" d="M219.981,365.316c0.069,0.034,0.138,0.034,0.207,0.034c-0.362-0.017-0.69-0.069-1.034-0.138
               C219.429,365.265,219.705,365.299,219.981,365.316z"/>
       </g>
       <g>
           <path style="fill:#DADDE0;" d="M219.981,365.316c-0.276-0.017-0.552-0.052-0.827-0.103c-0.121-0.017-0.241-0.034-0.345-0.069
               C219.188,365.213,219.584,365.282,219.981,365.316z"/>
           <path style="fill:#DADDE0;" d="M217.516,364.782c0.379,0.121,0.759,0.224,1.138,0.328c-0.155-0.034-0.31-0.069-0.465-0.103
               c-0.069-0.017-0.138-0.034-0.19-0.069C217.843,364.903,217.671,364.851,217.516,364.782z"/>
       </g>
       <g>
           <path style="fill:#FFFFFF;" d="M218.188,365.006c0.155,0.034,0.31,0.069,0.465,0.103
               C218.498,365.092,218.343,365.058,218.188,365.006z"/>
           <path style="fill:#FFFFFF;" d="M217.516,364.782c0.155,0.069,0.328,0.121,0.483,0.155c-0.259-0.052-0.517-0.138-0.776-0.241
               C217.326,364.73,217.412,364.765,217.516,364.782z"/>
       </g>
       <path style="fill:#DADDE0;" d="M217.516,364.782c-0.103-0.017-0.19-0.052-0.293-0.086c-0.017,0.017-0.052,0-0.069-0.017v-0.034
           C217.274,364.713,217.395,364.747,217.516,364.782z"/>
       <path style="fill:#D1D1D1;" d="M216.343,331.511l0.81,33.133c-0.276-0.086-0.552-0.19-0.81-0.31V331.511z"/>
       <polygon style="fill:#DADDE0;" points="216.343,291.309 216.343,331.511 215.343,290.585 "/>
       <path style="fill:#ADBCC9;" d="M350.118,182.065l-124.5,110.089c-1.241,1.103-2.034,2.62-2.207,4.275l-4.474,67.1
           c-0.172,1.396-2.103,1.586-2.517,0.241l-20.04-88.045c-0.914-2.913,0.276-6.068,2.862-7.671l147.015-91.177
           C349.636,174.773,353.101,179.428,350.118,182.065z"/>
            </svg>
        </a >

        <a href="mailto:tester.infopc@gmail.com" class="icon">
            <!-- email icon -->
            <svg xmlns="http://www.w3.org/2000/svg"
            class="rounded transparent-icon"
            aria-label="Gmail" role="img"
            viewBox="0 0 512 512"><rect
            width="100%" height="100%"
            rx="15%"
            fill="#eee"
            /><path d="M158 391v-142l-82-63V361q0 30 30 30" fill="#4285f4"/><path d="M 154 248l102 77l102-77v-98l-102 77l-102-77" fill="#ea4335"/><path d="M354 391v-142l82-63V361q0 30-30 30" fill="#34a853"/><path d="M76 188l82 63v-98l-30-23c-27-21-52 0-52 26" fill="#c5221f"/><path d="M436 188l-82 63v-98l30-23c27-21 52 0 52 26" fill="#fbbc04"/></svg>
        </a >
    </div>
    <a href="tel:07700662425" class="text">
        <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24"><path fill="currentColor" d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79zm9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75zM7.5 3H4c-.55 0-1 .45-1 1c0 9.39 7.61 17 17 17c.55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1c-1.24 0-2.45-.2-3.57-.57a.8.8 0 0 0-.31-.05c-.26 0-.51.1-.71.29l-2.2 2.2a15.15 15.15 0 0 1-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02A11.4 11.4 0 0 1 8.5 4c0-.55-.45-1-1-1"/></svg>
        0770662425
    </a>
    <a href="tel:0560863370" class="text">
        <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24"><path fill="currentColor" d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79zm9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75zM7.5 3H4c-.55 0-1 .45-1 1c0 9.39 7.61 17 17 17c.55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1c-1.24 0-2.45-.2-3.57-.57a.8.8 0 0 0-.31-.05c-.26 0-.51.1-.71.29l-2.2 2.2a15.15 15.15 0 0 1-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02A11.4 11.4 0 0 1 8.5 4c0-.55-.45-1-1-1"/></svg>
        0560863370
    </a>


</div>

<style lang="less" scoped>
    /* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .social-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-left: 16px;
    }
    .icon-container{
        display: flex;
        gap: 1em;
        margin:0 !important;

    }
    .icon{
        --size:35px;
        width: var(--size);
        height: var(--size);


    }
    .rounded{
        border-radius: 50%;
        overflow: hidden;
    }
    .text{
        display: flex;
        align-items: center;
        gap: 6px;
        text-decoration: underline;
        font-size: 1.2em;
        color:white;
    }
}



</style>